@charset "UTF-8";

/* CSS Document */
h1 h2 h3 h4 h5 h6 {
    font-family: Poppins, arial, sans-serif;
}

p {
    font-family: Lato;
}

:root {
    --background: rgba(51, 51, 51, .98);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #FFFEE6;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 500;
}

.content {
    height: 200vh;
    background-image: url(//unsplash.it/1000/1000);
}

/* navigation styles start here */

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

header a img {
    height: 50px;
    width: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 1em;

}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

nav a {
    color: #FFFEE6;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #CF455C;
    font-weight: 600;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 768px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 2fr)1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 4px;
        background: #CF455C;
        position: absolute;
        bottom: -.25em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/*Hero section */

#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/Hero.jpg") no-repeat center/ cover;

}

.hero-container {
    color: #FFFEE6;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: left;
}

.hero-info h1 {
    font-size: 3.5rem;
}

.h1-span {
    color: #FFDD67;
    font-size: 5rem;

}

.hero-container a {
    text-decoration: none;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.00);
    border-radius: 10px;
    border-style: solid;
    border-color: #FFFEE6;
    font-size: 1.8rem;
    padding: 0.2em 1.5em;
    margin-top: 1rem;
    color: #FFFEE6;
}

.hero-container a:hover {
    text-decoration: none;
    display: inline-block;
    background-color: #FFDD67;
    border-radius: 10px;
    border-style: solid;
    border-color: #FFDD67;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.2em 1.5em;
    margin-top: 1rem;
    color: #333333;
}



/*flexbox*/

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;

}

.flexbox-item {

    width: 400px;
    padding: 2rem;



}

.flexbox-item-1 {
    height: 75%;
    background-color: #FFDD67;
    color: #333333;
    text-align: center;

}

.flexbox-item-2 {
    height: 75%;
    background-color: #CF455C;
    color: #FFFEE6;
    text-align: center;

}

.flexbox-item-3 {
    height: 75%;
    background-color: #FFDD67;
    color: #333333;
    text-align: center;

}

/*line*/
.line-1 {
    border-style: solid;
    color: #333333;
    background-color: #333333;
}


.line-2 {
    border-style: solid;
    color: #FFFEE6;
    background-color: #FFFEE6;
}

.line-3 {
    border-style: solid;
    color: rgba(51, 51, 51, 0.51);


}

.flex-h3 {
    text-transform: uppercase;
    font-size: 1.25rem
}

/*Story Behind*/

.about-container {
    display: grid;
    grid-auto-flow: row;
    padding: 4rem 4rem;
}


.about-h1 {
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    justify-content: space-between;
}

.line-about {
    border-style: solid;
    height: 2px;
    background-color: #333333;
}

.about-p {
    width: 60%;
    color: #333333;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.about-button {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.00);
    border-radius: 10px;
    border-style: solid;
    border-color: #333333;
    font-size: 1.8rem;
    padding: .1em 1.5em;
    margin-top: 1rem;
    margin-left: 42%;
    margin-right: 42%;
    color: #333333;
    text-align: center;
}



.about-button:hover {
    text-decoration: none;
    display: inline-block;
    background-color: #FFDD67;
    border-radius: 10px;
    border-style: solid;
    border-color: #FFDD67;
    font-weight: 600;
    padding: 0.1em 1.5em;
    color: #FFFEE6;
}

/*Footer*/

footer {
    background: #333333;
    width: 100%;
    bottom: 0;
    color: #FFFEE6;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: px;
}

.row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col {
    display: inline-block;
    flex-basis: 30%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

.footer-icons {
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.footer-menu {
    color: #FFFEE6;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.footer-menu:hover {
    color: #CF455C;
    font-weight: 600;
}

/*Menu*/

.main-menu {
    max-width: 100%;
}

.menu-top {
    height: auto;
    width: 100%;
    padding: 5rem 1.5rem 2rem 1.5rem;
    color: #CF455C;
}

.menu-child {
    position: sticky;
    top: 5rem;
    width: 100%;
    background: #333333;
    padding: .5rem;
    margin: 2rem 0;
    color: #FFFEE6;
    text-transform: uppercase;
    text-align: center;
}

#beef {
    display: block;
}

#chicken {
    display: block;
}

#vegan {
    display: block;
}

#vegetarian {
    display: block;
}

.menu-name {
    color: #CF455C;
    text-transform: uppercase;
}

.menu-price {
    color: #333333;
    text-transform: lowercase;
}

.menu-desc {
    color: #CF455C;
    height: 80px;
}

.menu-flex {
    display: flex;
    width: auto;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;
    margin: auto;
}

.menu-container {}

.product-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    margin-bottom: 2rem;
    align-items: center;
    padding: 0 3rem;
}

p {
    padding-left: 0;
}

.product-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    margin-bottom: 2rem;
    align-items: center;
    padding: 0 3rem;

}

#myBtn {
    display: none;
    background-color: rgba(255, 255, 255, 0.00);
    color: #333333;
    cursor: pointer;
    border-style: solid;
    border-color: #333333;
    padding: .1em 1.5em;
    border-radius: 10px;
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem;
}

#myBtn:hover {
    background-color: #FFDD67;
    border-color: #FFDD67;
    font-weight: 500;
    padding: 0.1em 1.5em;
    color: #333333;
}

.section-1 {
    background: #FDFDF7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 4rem;
    width: 100%;
    margin: auto;
}

.burger-1 {
    width: 50%;
    padding-right: 20px;
}

.section-1 img {
    width: 50%;
}

.burger-1 p {
    margin-right: 1rem;
    text-align: center;
}

.burger-1-img {
    height: 250px;
}

.section-11 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 4rem;
    width: 100%;
}

.burger-1 h3 {
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.burger-1-img {
    height: 250px;
}

.burger-2 h3 {
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-left: 1rem;
    width: 40%
}

.burger-2 p {
    margin-left: 1rem;
    text-align: center;
    width: 40%
}

.line-4 {
    border-style: solid;
    color: #333333;
    background-color: #333333;
}

.contact-h1 {
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    justify-content: space-between;
}

.line-about {
    border-style: solid;
    height: 2px;
    background-color: #333333;
}

.contact-container {
    padding: 6rem;
}

.contact-p {
    width: 60%;
    color: #333333;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.contact-img {
    height: 250px;
}

.line-4 {
    display: flex;
    border-style: solid;
    color: #333333;
    background-color: #333333;
    margin-left: 1rem;
}

col {
    display: inline-block;
    flex-basis: 30%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    width: 100%;
}

.section-3 img {
    margin-right: 20%
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}